<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <%= render 'user', book: @book, user: @user %>
    <%= render 'books/book', books: @books %>
  </div>
</div>
