<div class="container">
  <% if @book.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <span><%= @book.errors.count %>:error prohibited this object from being saved.</span>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <%= render 'users/user', book: @book ,user: current_user %>
    <%= render 'book', books: @books %>
  </div>
</div>


