@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.field, .actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.errors {
  color: red;
}

.error_message {
  border:1px solid red;
}

.push {
  color: red;
}
